<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>All Users</title> 
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>List of Users in the Page</h1>
		</div>
		<div>
			<table class = "table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						
						<th>Email</th>
						<th>FirstName</th>
						<th>LastName</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${listUsers}">
		
						<td th:text="${user.email}">UserId</td>
						<td th:text="${user.firstName}">UserId</td>
						<td th:text="${user.lastName}">UserId</td>	
					
				</tbody>			
			</table>	
		</div>
		
		
	</div>
	
	

</body>
</html>